extends layout
block content
    .container
        h1 Data of user #{ofUser}
        br
        div
            table(style="width:100%").table-striped
                thead
                    tr
                        th Title
                        th Timestamp
                        th FEV1
                        th FVC
                        //th
                        //th
                tbody
                    each item in spirometryData
                        tr
                            td #{item.title}
                            td #{item.dateTime}
                            td #{item.fev1}
                            td #{item.fvc}
                            //td
                                a(href="/data/updatedata/item/#{item.title}") update
                            //td
                                a(href="/data/deletedata/user/#{ofUser}/item/#{item.title}") delete